%h2 Edit Article

- form_for([:eng, @article], :url => eng_article_path(@article), :html => { :method => :put }) do |f|
  = render(:partial => 'form', :locals => { :f => f })

  %p
    = f.submit('Submit')

= link_to('Back', @article)
