%p
  Welcome to my software engineering articles. They range from
  philosophical to language-specific. I think some people may like them.

%ul.article-list
  - for article in @articles
    %li
      = link_to(article.title, article)
      %span.date== #{article.created_at.to_date.to_formatted_s(:long_ordinal)}

= will_paginate(@articles)

- if admin?
  %p= link_to 'New Article', new_eng_article_path
