%h2 New Article

- form_for(:article, @article, :url => eng_articles_path) do |f|
  = render(:partial => 'form', :locals => { :f => f })

  %p
    = f.submit('Create')

= link_to('Back', eng_articles_path)
