- content_for(:title, @post.title)
- content_for(:title_href_path, url_for(@post))

- content_for(:top) do
  = tag_list

- content_for(:bottom) do
  .footer
    %p These opinions are all mine.

= render('post', :post => @post)

#comments
  %h2 Comments
  = render(:partial => 'comment', :collection => @comments.reject(&:new_record?))
  = render('comment_form', :post => @post, :comment => @new_comment)
