- content_for(:title, @post.title)
- content_for(:title_href_path, url_for(@post))

- content_for(:bottom) do
  %footer
    %p.blurb These opinions are all mine.

= render('post', :post => @post)

#comments.blog-comments
  %a.muut{:href => "https://muut.com/i/adamhooper/comments", :type => "dynamic"} Comments
  %script{:src => "//cdn.muut.com/1/moot.min.js"}
