- content_for(:head) do
  = stylesheet_link_tag 'eng'
- content_for(:title) do
  \- Errors with Your Comment

= error_messages_for(@comment)

%p.eng-shortcut= link_to('Back to the Article...', @article)

%p Or, try again:

#comments.eng-comments
  %h2 Your Comment
  = render('/eng/articles/comment_form', :article => @article, :comment => @comment)
