- content_for(:head) do
  = stylesheet_link_tag 'eng'
- content_for(:title) do
  %h1 Errors with Your Comment
- content_for(:after_menu) do
  %p.eng-shortcut= link_to('Back to the Article', @article)

= error_messages_for(:comment)

#comments.eng-comments
  %h2 Your Comment
  = render(:partial => '/eng/articles/comment_form', :locals => { :article => @article, :comment => @comment })
