$image: url(/images/hooper/adam-hooper-1.jpg);
$image_color_light: #717078;
$image_color_dark: #5f5e66;
$background_color: lighten($image_color_light, 40%);
$foreground_color: darken($image_color_dark, 20%);
$main_margin: 1em;

div.eng-blurb, div.footer {
  color: $background_color;
  margin-left: 6px;
  font-size: .9em;
  clear: both;

  span {
    font-style: italic;
  }

  a {
    padding-left: 6px;
    font-size: .9em;
    font-style: normal;
    text-decoration: underline;
  }
}

div.eng-article {
  position: relative;
  margin: 6px;
  margin-left: -$main_margin;
  margin-right: -$main_margin;

  h2 {
    border-left: 2px solid $background_color;
    border-right: 2px solid $background_color;
    background-color: $image_color_dark;
    color: $background_color;
    margin: 0;
    padding: 6px 10px;
    font-size: 1.2em;

    a {
      text-decoration: inherit;
    }
  }

  div.eng-article-body {
    margin: 12px;
    font-family: serif;
    font-size: .9em;
  }

  div.eng-article-num-comments, div.eng-article-links {
    text-align: right;
    padding: 0 12px;
  }
}

div.eng-comments {
  margin-left: -$main_margin;
  margin-right: -$main_margin;
  border-left: 24px solid $image_color_dark;
  border-right: 24px solid $image_color_dark;
  padding-left: $main_margin;
  padding-right: $main_margin;

  h2 {
    margin-left: -$main_margin;
    margin-right: -$main_margin;
    border-left: $main_margin solid $background_color;
    border-right: $main_margin solid $background_color;
    background: $image_color_dark;
    font-size: 1em;
    padding: 6px 0;
    padding-left: $main_margin;
    padding-right: $main_margin;
    color: $background_color;
  }

  div.eng-comment-author {
    margin-bottom: 1em;
    text-decoration: underline;
  }

  div.eng-comment {
    border-bottom: 5px solid $image_color_dark;
    margin-bottom: 1em;
  }

  div.eng-comment-body {
    margin: 1em 2em;
  }

  table {
    text-align: left;
  }
}
