div#tags {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 30%;
  padding: 0 6px 6px 0;
  text-align: right;
  opacity: .75; }
  div#tags h3 {
    font-size: 1.2em;
    border-bottom: 1px solid #d9d9db;
    color: #d9d9db;
    padding: 0;
    margin: 0; }
  div#tags ul {
    padding: 6px 0 0;
    margin: 0;
    line-height: 2em; }
  div#tags li {
    list-style: none;
    font-size: .9em;
    padding: 0;
    margin: 0;
    display: inline; }
  div#tags a {
    white-space: nowrap;
    padding: 3px;
    background: #d9d9db;
    color: #2e2d31;
    border: 2px solid #5f5e66;
    text-decoration: none; }
    div#tags a:hover {
      text-decoration: underline; }

div.blog-blurb, div.footer {
  color: #d9d9db;
  margin-left: 6px;
  font-size: .9em;
  clear: both; }
  div.blog-blurb span, div.footer span {
    font-style: italic; }
  div.blog-blurb a, div.footer a {
    padding-left: 6px;
    font-size: .9em;
    font-style: normal;
    text-decoration: underline; }

div.blog-month-divider-empty, div.blog-month-divider {
  margin: 6px 0;
  margin-left: -1em;
  margin-right: -1em;
  padding: 3px 0;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #5f5e66;
  color: #d9d9db;
  font-weight: bold;
  font-size: 1em; }
  div.blog-month-divider-empty span, div.blog-month-divider span {
    font-style: italic;
    font-weight: normal; }

div.blog-post {
  position: relative;
  margin: 6px;
  margin-left: -1em;
  margin-right: -1em; }
  div.blog-post iframe.pacetrack {
    width: 100%;
    height: 480px;
    padding: 0;
    margin: 0;
    border: none; }
  div.blog-post h2 {
    border-left: 2px solid #d9d9db;
    border-right: 2px solid #d9d9db;
    background-color: #5f5e66;
    color: #d9d9db;
    margin: 0;
    padding: 6px 10px;
    padding-top: 1em;
    font-size: 1.2em; }
    div.blog-post h2 a {
      text-decoration: inherit; }
  div.blog-post div.blog-post-timestamp {
    color: #d9d9db;
    position: absolute;
    top: 3px;
    left: 12px;
    font-size: .8em; }
  div.blog-post div.blog-post-tags {
    color: #d9d9db;
    position: absolute;
    top: 3px;
    right: 12px;
    font-size: .8em; }
  div.blog-post div.blog-post-body {
    margin: 12px;
    font-family: serif;
    font-size: .9em; }
  div.blog-post div.blog-post-num-comments, div.blog-post div.blog-post-links {
    text-align: right;
    padding: 0 12px; }

div.blog-comments {
  margin-left: -1em;
  margin-right: -1em;
  border-left: 24px solid #5f5e66;
  border-right: 24px solid #5f5e66;
  padding-left: 1em;
  padding-right: 1em; }
  div.blog-comments h2 {
    margin-left: -1em;
    margin-right: -1em;
    border-left: 1em solid #d9d9db;
    border-right: 1em solid #d9d9db;
    background: #5f5e66;
    font-size: 1em;
    padding: 6px 0;
    padding-left: 1em;
    padding-right: 1em;
    color: #d9d9db; }
  div.blog-comments div.blog-comment-author {
    margin-bottom: 1em;
    text-decoration: underline; }
  div.blog-comments div.blog-comment {
    border-bottom: 5px solid #5f5e66;
    margin-bottom: 1em; }
  div.blog-comments div.blog-comment-body {
    margin: 1em 2em; }
  div.blog-comments table {
    text-align: left; }
