div.menu div.tags h3 {
  font-size: inherit;
  margin: 1em 0 0;
}

div.menu div.tags ul {
  font-size: .7em;
}

div.menu div.tags li {
  display: inline;
}

div.menu div.tags a {
  white-space: nowrap;
  margin-right: 12px;
}

div.blog-month-divider {
  margin-bottom: 12px;
  border-bottom: 1px solid black;
  font-size: 1.5em;
}

div.blog-blurb {
  text-align: center;
  margin: 24px;
  font-size: .9em;
}

div.blog-search {
  text-align: center;
  font-size: .9em;
  margin-bottom: 12px;
}

div.blog-search span {
  font-weight: bold;
}

div.blog-search a {
  color: #37a35f;
  padding-left: 1em;
}

div.blog-post, div.blog-comments {
  border-left: 2px solid #37a35f;
  padding: 12px 0 12px 12px;
  margin-bottom: 30px;
}

div.blog-post h2, div.blog-comments h2 {
  margin: -12px -12px 0 -12px;
  padding: 6px 12px;
  background: #37a35f;
  color: white;
}

div.blog-comments table img {
  vertical-align: middle;
}

div.blog-comments table th {
  vertical-align: top;
  white-space: nowrap;
  padding: 6px;
}

div.blog-comments table textarea {
  width: 100%;
  height: 8em;
}

div.blog-post-timestamp {
  margin-top: 12px;
  color: #37a35f;
  font-size: .8em;
  float: left;
}

div.blog-post-tags {
  margin-top: 12px;
  color: #37a35f;
  font-size: .8em;
  text-align: right;
}

div.blog-post-num-comments {
  color: #37a35f;
  font-size: .8em;
  margin-bottom: 12px;
}

div.blog-post-timestamp span, div.blog-post-tags span {
  font-weight: bold;
}

div.blog-comment {
  margin: 12px 0 12px -12px;
  padding: 0 0 12px 12px;
  border-bottom: 2px solid #37a35f;
}

div.blog-comment-author {
  color: #37a35f;
  margin: 12px 0;
  font-size: .8em;
  text-align: right;
}

div.blog-comment-author a, div.blog-comment-author span {
  font-weight: bold;
}

div.blog-comment-timestamp {
  color: #37a35f;
  font-size: .8em;
  float: left;
}

div.blog-comment-timestamp span {
  font-weight: bold;
}

div.blog-post-body, div.blog-comment-body {
}

div.blog-post-body p {
  margin: 12px 0;
}

div.blog-post-actions {
  display: none;
}
