p.code-blurb {
  text-align: center;
  margin: 24px;
  font-size: .9em;
}

.body h2 {
  background: #37a35f;
  color: white;
  margin: 0;
  padding: 12px;
}

.code-directory {
  border-left: 2px solid #37a35f;
}

.code-directory ul {
  list-style: none;
  margin: 0;
  padding: 12px;
  font-family: monospace;
}

.code-directory a {
  text-decoration: none;
}

.file, .readme {
  border-left: 2px solid #37a35f;
  padding: 0 12px 12px 12px;
}

.file h2, .readme h2 {
  font-size: 1.1em;
  margin: 0 -12px;
}
