html {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  background: #37a35f;
  color: white;
  margin: 0;
  padding: 12px;
}

h1 a {
  text-decoration: inherit;
}

div.menu {
  padding: 0 12px 12px;
  float: right;
  width: 8em;
  border-left: 2px solid #37a35f;
  border-bottom: 2px solid #37a35f;
}

div.menu h2, div.menu h3 {
  color: #37a35f;
  margin: 0;
  padding: 12px 0;
}

div.menu ul {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  list-style: none;
}

div.menu a {
  text-decoration: inherit;
}

div.body {
  margin: 12px 8em 12px 12px;
  padding-right: 54px; /* 12px + 12px + 12px + 3px + 3px, + 12px */
}

div.footer {
  color: #56645b;
  padding: 4px 12px;
  margin: 12px 0;
  font-size: .8em;
  text-align: center;
}

a {
  text-decoration: underline;
  color: inherit;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: inherit;
}

div.pagination {
  text-align: center;
}
