div.eng-blurb, div.footer {
  color: #d9d9db;
  margin-left: 6px;
  font-size: 0.9em;
  clear: both; }
  div.eng-blurb span, div.footer span {
    font-style: italic; }
  div.eng-blurb a, div.footer a {
    padding-left: 6px;
    font-size: 0.9em;
    font-style: normal;
    text-decoration: underline; }

div.eng-article {
  position: relative;
  margin: 6px;
  margin-left: -1em;
  margin-right: -1em; }
  div.eng-article h2 {
    border-left: 2px solid #d9d9db;
    border-right: 2px solid #d9d9db;
    background-color: #5f5e66;
    color: #d9d9db;
    margin: 0;
    padding: 6px 10px;
    font-size: 1.2em; }
    div.eng-article h2 a {
      text-decoration: inherit; }
  div.eng-article div.eng-article-body {
    margin: 12px;
    font-family: serif;
    font-size: 0.9em; }
  div.eng-article div.eng-article-num-comments, div.eng-article div.eng-article-links {
    text-align: right;
    padding: 0 12px; }

div.eng-comments {
  margin-left: -1em;
  margin-right: -1em;
  border-left: 24px solid #5f5e66;
  border-right: 24px solid #5f5e66;
  padding-left: 1em;
  padding-right: 1em; }
  div.eng-comments h2 {
    margin-left: -1em;
    margin-right: -1em;
    border-left: 1em solid #d9d9db;
    border-right: 1em solid #d9d9db;
    background: #5f5e66;
    font-size: 1em;
    padding: 6px 0;
    padding-left: 1em;
    padding-right: 1em;
    color: #d9d9db; }
  div.eng-comments div.eng-comment-author {
    margin-bottom: 1em;
    text-decoration: underline; }
  div.eng-comments div.eng-comment {
    border-bottom: 5px solid #5f5e66;
    margin-bottom: 1em; }
  div.eng-comments div.eng-comment-body {
    margin: 1em 2em; }
  div.eng-comments table {
    text-align: left; }
