a {
  color: inherit; }
  a:hover {
    text-decoration: underline; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #5f5e66 url(/images/hooper/adam-hooper-1.jpg) top right no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  font-family: sans-serif; }

img#expando {
  padding: 0;
  margin: 0;
  position: absolute;
  display: block;
  z-index: 1;
  -ms-interpolation-mode: bicubic;
  width: auto;
  height: 100%; }

.ie6fixed {
  position: absolute;
  top: expression((ignoreMe = document.documentElement.scrollTop ?
			     document.documentElement.scrollTop : document.body.scrollTop) + 'px'); }

h1 {
  margin: 0;
  padding: 6px;
  color: #d9d9db;
  float: left; }
  h1 a {
    text-decoration: inherit; }

div.nav {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.75; }
  div.nav ul {
    float: left;
    padding: 0;
    margin: 0; }
  div.nav li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left; }
  div.nav a {
    display: block;
    font-size: 1.3em;
    background: #d9d9db;
    color: #5f5e66;
    border: 2px solid #5f5e66;
    padding: 6px;
    text-decoration: inherit; }
    div.nav a:hover {
      text-decoration: underline; }

div.main {
  clear: both;
  color: #2e2d31;
  background: #d9d9db;
  width: 55%;
  margin: 1em;
  padding: 1px 1em;
  border: 5px solid #5f5e66; }

div.admin {
  display: none; }

div.main div.contact h2 {
  font-size: 0.9em;
  margin-bottom: 0;
  border-bottom: 1px solid #717078; }
div.main div.contact dl {
  line-height: 1.7;
  margin-top: 0.3em; }
  div.main div.contact dl dt {
    font-weight: bold;
    clear: left;
    float: left;
    width: 4.5em;
    text-align: right; }
  div.main div.contact dl dd {
    margin-left: 5em; }
