RewriteEngine On

RewriteCond %{REQUEST_URI} ^/portfolio/2011/give-for-the-gold/index.html$
RewriteRule ^(.*)$ /portfolio/2011/give-for-the-gold/ [R,L]

RewriteCond %{REQUEST_URI} ^/portfolio/2011/give-for-the-gold$
RewriteRule ^(.*)$ /portfolio/2011/give-for-the-gold/ [R,L]

