@import "_common";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  position: relative;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.85);

  a {
    text-decoration: none;
  }

  h1 {
    flex: 1 1 auto;
    margin: 0;
    padding: 0 1rem 0 0; // the padding-right is so nav stays away
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  nav {
    margin-left: 2rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: right;

    a, h6 {
      display: inline-block;
      font: inherit;
      height: 1.5rem;
      padding: 0 .5rem;
      margin: 0;
    }

    &.old {
      opacity: .6;
      font-size: .8rem;
    }
  }
}

a {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
