@import "_common";

$image: '/images/backgrounds/portfolio.jpg';

$image_color_light: #e9a94b;
$image_color_dark: #321909;
$background_color: lighten($image_color_light, 40%);
$background_color_rgba: rgba($background_color, .85);
$foreground_color: darken($image_color_dark, 20%);

body.portfolio {
  background: $image_color_dark url($image) center right no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;

  @include hooper_main();

  main {
    margin: 1em 0;
    width: auto;
  }

  nav {
    color: $foreground_color;
  }

  form, p.actions {
    clear: both;
    padding: 1em;
    background: $background_color;
    background: $background-color_rgba;
    color: $foreground_color;
  }

  form {
    label {
      vertical-align: top;
    }

    textarea {
      min-width: 40%;
      min-height: 5em;
    }
  }

  article {
    vertical-align: top;
    min-width: 40%;
    padding: 0; // it's in <detail> so we don't get extra with <detail><p></p></detail>
    border: 1px solid transparent;
    margin: -1px 1em 1em -1px;
    background: $background_color;
    background: $background-color_rgba;
    color: $foreground_color;

    details {
      margin: 1em;
      max-width: 960px;
    }

    .aspect-ratio-4-3 {
      position: relative;
      padding-bottom: 75%; /* 16:9 */
      height: 0;
    }

    .aspect-ratio-16-9 {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }

    .aspect-ratio-4-3 iframe, .aspect-ratio-16-9 iframe, .aspect-ratio-4-3 img, .aspect-ratio-16-9 img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    iframe {
      border: none;
      background: white;
      overflow: hidden;
    }

    h3, h4 {
      font: inherit;
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .published-at {
      text-align: right;
      margin-top: 1rem;
      font-size: .8rem;
      color: #666;
    }

    details.open .published-at { text-align: left; }
    details[open] .published-at { text-align: left; }

    h4 {
      margin-bottom: 1rem;
    }

    summary {
      cursor: pointer;
      outline: none; // Firefox draws a weird border around cursor
    }

    @mixin summary-marker() {
      // Height of h3 is 1.6em; margin below it is 1em; height of h4 is 1em
      // Total: 3.6em
      height: 1.6em;
      width: 1.6em;
      padding: 1em 1em 1em 0;
      float: left;
    }

    summary::-webkit-details-marker { @include summary-marker; }
    summary::before { @include summary-marker; }
  }
}
