.bio
  %p I am Adam Hooper. You may know me as:
  %ul
    %li A journalist based in Ottawa (Canada)
    %li A former software engineer
    %li A mzungu in East Africa
  %p
    == Curious? Read #{link_to('my blog', blog_path)}.

.contact
  %h2 Contact details
  %dl
    %dt Email
    %dd= link_to('adam@adamhooper.com', 'mailto:adam@adamhooper.com')
    %dt Phone
    -#%dd +1-613-986-3339
    -#%dd +255-75-241-7-244
    -#%dd +250-78-202-2303
    %dd +44 78 2498 1699
    %dt Twitter
    %dd= link_to('@adamhooper', 'http://twitter.com/adamhooper')
    %dt Facebook
    %dd= link_to('adam.hooper', 'http://facebook.com/adam.hooper')
