<% content_for :title do %>
  <h1>Adam Hooper</h1>
<% end %>

<p>I am Adam Hooper, twenty-something, hometown of Montreal, Canada.</p>

<p>You are probably looking for <%= link_to 'my Blog', blog_posts_path %>.</p>

<p>
  I used to do the whole hacker-esque thing of posting past projects on this
  site, but these were scorned in the famous rewrite of 2008. Maybe some of my
  previous projects will return (and maybe new ones will arise).
</p>
