<% content_for :title do %>
  <h1>Photos</h1>
<% end %>

<% content_for :menu do %>
  <h2>Links</h2>
  <ul>
    <li><%= link_to 'My Website', root_path %></li>
    <li><%= link_to 'My Blog', root_path %></li>
  </ul>
<% end %>

<p>My photos are hosted at <a href="http://picasaweb.google.com/adam.hooper">http://picasaweb.google.com/adam.hooper</a>.</p>
