@mixin hooper_main() {
  div.main {
    clear: both;
    max-width: 50rem;
    margin: 0 1rem;
    padding: 0 1rem;
  }
}

@mixin hooper_footer() {
  div.footer {
    margin-left: 6px;
    font-size: .9em;
    clear: both;

    span {
      font-style: italic;
    }

    a {
      padding-left: 6px;
      font-size: .9em;
      font-style: normal;
      text-decoration: underline;
    }
  }
}

#comments {
  margin-top: 1.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .85);
  /*
    #moot-logo {
      display: none !important;
      padding: 0 !important;
      overflow: hidden;
      height: 0 !important;
    }

    &>.moot {
      padding: 0;
    }

    .moot .m-moot, .m-create .m-input-wrap, .m-preview {
      background: rgba(255, 255, 255, 0.85);
    }

    .m-like {
      display: none;
    }
  */
}
