@import '_common.css.scss';

$dim_color: #444;
$background_color: #d4e0d1;

body.code {
  @include hooper_h1();
  @include hooper_footer();

  h1 {
    font-family: monospace;
    border-bottom: 1px solid gray;
  }

  div.nav {
    position: absolute;
  }

  div.main {
    p {
      margin: 0;
      padding: .5em $main_margin / 0.8;
      font-family: monospace;
      font-size: .8em;
      font-weight: bold;
      border-bottom: 1px solid gray;
      color: $dim_color;
      background: $background_color;
    }
  }

  div.code-directory {
    h2.path {
      font-family: sans-serif;
      font-size: 1em;
      margin: 1em 1em 0 1em;

      span {
        font-family: monospace;
      }
    }

    ul {
      list-style: none;
      margin: 0 1em 1em 0;
    }

    li {
      font-family: monospace;

      span.explanation {
        font-family: sans-serif;
      }
    }

    p {
      border-top: 1px solid gray;
    }
  }

  div.file {
    border-bottom: 1px solid gray;

    h2 {
      font-size: 1.25em;
      font-family: monospace;
      background: white;
      margin: 0;
      padding: .4em .8em;
    }

    div.CodeRay {
      background: none;
      border: none;
    }

    pre {
      border: 1px solid gray;
      margin: 1em;
      background: mix(white, $background_color);
      overflow: auto;
    }
  }

  div.footer {
    margin: 0;
    padding: 0 1em;
    text-align: center;
    font-size: .8em;
    color: $dim_color;
  }
}
