@import "_common.css.scss";

$image: 'backgrounds/eng.jpg';
$image_color_light: #fef5c4;
$image_color_dark: #7c674c;
$background_color: lighten($image_color_light, 10%);
$background_color_rgba: rgba($background_color, 0.9);
$foreground_color: darken($image_color_dark, 10%);

body.eng {
  background: $image_color_light image-url($image) repeat;

  @include hooper_h1();
  @include hooper_main();

  h1 {
    color: $foreground_color;
    background: $background_color;
    background: $background_color_rgba;
    border-bottom: 3px solid $image_color_dark;
  }

  .nav {
    color: $foreground_color;
  }

  h1, .nav {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  h1 {
    left: 0;
    right: 0;
  }

  div.main {
    background: $background_color;
    background: $background_color_rgba;
    color: $foreground_color;
    margin-top: 1em + ($header_height / 1em * $header_font_size);
    border: 3px solid $image_color_dark;
  }

  body {
    padding-bottom: 1em;
  }

  ul.article-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      line-height: 1.8;
    }

    span.date {
      color: lighten($image_color_dark, 20%);
    }
  }

  div.eng-article-body {
    pre, table {
      width: 100%;
      border: 1px solid $image_color_dark;
      font-size: .9em;
      overflow: auto;
    }

    table {
      border-collapse: collapse;
    }

    form {
      overflow: auto;
    }
  }

  // The rest of this file is a nasty copy/paste job

  div.eng-blurb {
    color: $background_color;
    margin-left: 6px;
    font-size: .9em;
    clear: both;

    span {
      font-style: italic;
    }

    a {
      padding-left: 6px;
      font-size: .9em;
      font-style: normal;
      text-decoration: underline;
    }
  }

  div.eng-article {
    position: relative;
    margin: 6px;
    margin-left: -$main_margin;
    margin-right: -$main_margin;

    h2 {
      border-left: 2px solid $background_color;
      border-right: 2px solid $background_color;
      background-color: $image_color_dark;
      color: $background_color;
      margin: 0;
      padding: 6px 10px;
      font-size: 1.2em;

      a {
        text-decoration: inherit;
      }
    }

    div.eng-article-body {
      margin: 12px;
      font-family: serif;
      font-size: .9em;
    }

    div.eng-article-num-comments, div.eng-article-links {
      text-align: right;
      padding: 0 12px;
    }
  }

  div.eng-comments {
    margin-left: -$main_margin;
    margin-right: -$main_margin;
    border-left: 24px solid $image_color_dark;
    border-right: 24px solid $image_color_dark;
    padding-left: $main_margin;
    padding-right: $main_margin;

    h2 {
      margin-left: -$main_margin;
      margin-right: -$main_margin;
      border-left: $main_margin solid $background_color;
      border-right: $main_margin solid $background_color;
      background: $image_color_dark;
      font-size: 1em;
      padding: 6px 0;
      padding-left: $main_margin;
      padding-right: $main_margin;
      color: $background_color;
    }

    div.eng-comment-author {
      margin-bottom: 1em;
      text-decoration: underline;
    }

    div.eng-comment {
      border-bottom: 5px solid $image_color_dark;
      margin-bottom: 1em;
    }

    div.eng-comment-body {
      margin: 1em 2em;
    }

    table {
      text-align: left;
    }
  }
}
